
    <mdb-card >
  <!-- Card -->
<!-- Card content -->
<div  style="background: #248673 ;cursor: pointer; " data-step="1" data-intro="Click to view more info " data-position='right'>
<!-- Card image -->
<div class="animated-icon1 float-right mt-1"></div>
<img class="card-img-top" src="./assets/me.png" alt="Card image cap" >

<!-- Title -->
<div class="row" routerLink="bio" style="outline-style: none">
  <div class="col-md-2">
      <i class="fas fa-user pl-2 pt-2" ></i>

</div>
<!-- Text -->
<div class="col-md-10" >
    <p class="text"  >
      I am a self taugh full stack web developer specializing mostly in JavaScript and Node.js</p>

    <hr>
</div>

</div>
<!--Contact details row-->
<div class="row">
  <div class="col-md-2">
      <i class="fas fa-briefcase pl-2 pt-2"></i>

</div>
<!-- Text -->
<div class="col-md-10" routerLink="work" style="outline-style: none">
  <h4 class="card-title"><a>Work experience</a></h4>
<p class="card-text">


    <p class="text">Picker @Plumblink</p>
    <p class ="text">2017 - 2018</p>
  <p class="text"> Picking stocks for various branches   </p>

    <hr>
</div>

</div>

<!--Education-->
<div class="row">
  <div class="col-md-2">
      <i class="fas fa-university pl-2 pt-2"></i>

</div>
<!-- Text -->
<div class="col-md-10" routerLink="edu" style="outline-style: none">
  <h4 class="card-title"><a>Education</a></h4>
<p class="card-text">


    <p class="text">CSE @TUT</p>
    <p class ="text">2014 - 2014</p>
  <p class="text">  I studied first semester of computer engineering </p>

    <hr>
</div>

</div>
<!--Mail details-->
<div class="row">
  <div class="col-md-2">

      <i class="fas fa-phone pl-2 pt-2" ></i>

</div>
<!-- Text -->
<div class="col-md-10" routerLink="contact" style="outline-style: none">
  <h4 class="card-title"><a>Contact details</a></h4>
<p class="card-text">
  <p class="text">(083) 979 3565</p>


    <hr>

</div>

</div>

<!--Profesional skills-->
<div class="row" >
  <div class="col-md-2">


      <i class="far fa-calendar-minus pl-2 pt-2"></i>

</div>
<!-- Text -->
<div class="col-md-10" routerLink="skill" style="outline-style: none">
  <h4 class="card-title"><a>Professional Skills</a></h4>
<p class="card-text">
   <!-- <app-skills></app-skills> -->
   <p class="text">React</p>
   <p class="text">Angular</p>
<hr>
</div>

</div>

<div class="row" >
  <div class="col-md-2">

      <i class="fas fa-database pl-2 pt 2"></i>
</div>
<!-- Text -->
<div class="col-md-10" style="outline-style: none">
  <h4 class="card-title"><a>Portfolio</a></h4>
<p class="card-text">
   <!-- <app-skills></app-skills> -->
   <p  routerLink="quickCv" class="text" style="outline-style: none">Angular apps</p>
   <p class="text" routerLink="react" style="outline-style: none">React apps</p>
   <!-- <p class="text" routerLink="back" style="outline-style: none">Todo app</p> -->

</div>

</div>


</div>

</mdb-card>
