<div class="mt-2">
  <mdb-card>

      <div class="card-body">

          <div class="row ">
              <div  class="col-md-2 " >
             <!-- Title -->
             <i  class="fas fa-university fa-3x"></i>
            </div>
            <div class="col-md-10 " >
             <!-- Text -->
             <h4 class="card-title"><a>Profesional skills</a></h4>
             <p class="card-text">React</p>

           <p>Used to react library to build a front end UI and used props to manipulated data around the components .I also used axios  library to fetch data from json placeholder</p>
           <hr>
           <p class="card-text">Angula 9</p>

           <p>This is the first frontend frame work I learned .Angular is very excitng because it is feature rich by providing most of in built functionalities </p>
           <hr>
           <p class="card-text">Git and Github</p>

           <p>Used git in all my project for continous intergration and verson management of my apps</p>

           <hr>
           <p class="card-text">Firebase</p>

           <p>I use firebase as my backend in a angular app using angular firestore to intergrate both frame works.I deployed several apps with firebase</p>
             <!-- Button -->
             <hr>
             <p class="card-text">Materialized css and Bootstrap</p>

             <p>Used materialized css to increase the depth qaulity of my application I understand how to properly use materialized css and bootstrap css</p>
            </div>
            <hr>



           </div>


      </div>
