<div class="mt-2">
    <mdb-card>

        <div class="card-body">

            <div class="row ">
                <div  class="col-md-2 " >
               <!-- Title -->
               <i  class="fas fa-university fa-3x"></i>
              </div>
              <div class="col-md-10 " >
               <!-- Text -->
               <h4 class="card-title"><a>Education</a></h4>
               <p class="card-text">Computer engineering@TUT</p>
               <p style ="color:#248673">2014 - 2014</p>
             <p> I studied first semester of computer engineering this is where I was in introduced to programming.I passed C++ ,Mathematics engineering 1 ,Communication skill,Digital System 1,</p>
             <hr>
               <!-- Button -->
              </div>
              <div class="row ">
                <div  class="col-md-2 " >
               <!-- Title -->

              </div>
              <div class="col-md-10 " >
               <!-- Text -->

               <p class="card-text">Computer Science g@UJ</p>
               <p style ="color:#248673">2015 - 2015</p>
             <p> I completed a year of studying computer science .I passed visual basics,Mathematics calculus</p>
             <hr>
               <!-- Button -->
              </div>

             </div>

             </div>



        </div>



          </mdb-card>
        </div>
