<mdb-card>
  <h5 class="card-title">Quick cv </h5>
  <img class="card-img" src="./assets/da.png" alt="Card image cap" >

  <div class="container">
  <p class="card-text">Frontend:Anguar 7, Mdb Bootstrap,XepOnline framework and Typescript  </p>
  <p class="card-text">Backend: Java, Spring boot,MySql, Jpa and Hibernate  </p>
  <p class="card-text">Other: Slack, Trello, Sprints(Agile) and Git  </p>
  </div>

</mdb-card>

<mdb-card>
  <h5 class="card-title">Quick cv </h5>
  <img class="card-img" src="./assets/da.png" alt="Card image cap" >

  <div class="container">
  <p class="card-text">Frontend:Anguar 7, Mdb Bootstrap,XepOnline framework and Typescript  </p>
  <p class="card-text">Backend: Java, Spring boot,MySql, Jpa and Hibernate  </p>
  <p class="card-text">Other: Slack, Trello, Sprints(Agile) and Git  </p>
  </div>

</mdb-card>

